<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<!-- todo raihan fix this form to add users. Check user controller methods: addUserPage() and addUser()-->
<form th:action="@{/user/add}" th:method="POST" modelAttribute="user">
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="username"/> <br></br>
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="password"/> <br></br>
    <label for="phone">phone</label>
    <input type="text" id="phone" placeholder="phone"/> <br></br>
    <label for="role">Roles</label>
    <select id="role">
        <option th:each="${roles}"></option>
    </select><br></br>
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="name"/> <br></br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>