<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Title</title>
</head>
<body>

<form th:action="@{/user/register}" th:method="POST" th:object="${user}" >
    <label for="username">Username</label>
    <input type="text" id="username" placeholder="username" th:field="*{username}"/> <br></br>
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="password" th:field="*{password}"/> <br></br>
    <label for="phone">Phone</label>
    <input type="text" id="phone" placeholder="phone" th:field="*{phone}"/> <br></br>

    <div sec:authorize-expr="hasAuthority('ADMIN')">
        <label for="role">Roles</label>
        <select name="role" th:field="*{role}">
            <option th:each="role, iteration: ${roles}" th:value="${role}" th:text="${role}"></option>
        </select>
    </div>
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="name" th:field="*{name}"/> <br></br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>