<!DOCTYPE HTML>
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{base}">
<div layout:fragment="page_content" id="search_content">
<form th:action="@{/movie/search}" th:method="POST" modelAttribute="title">
    <label>Search By Title</label>
    <input type="text" name="title" placeholder="Search"/>
    <input type="submit" value="SEARCH"/>
</form>

<table th:if="${not #lists.isEmpty(movies) }">
    <thead>
    <tr>
        <th>Serial</th>
        <th>Title</th>
        <th>Year</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="movie,iterationStatus : ${movies}">
        <td th:text="${iterationStatus.count}">1</td>
        <td><a th:href="@{'/movie/rate/' + ${movie.imdbID}}" th:text="${movie.Title}"></a></td>
        <td th:text="${movie.Year}"></td>
        <td th:text="${movie.imdbRating}"></td>
    </tr>
    </tbody>
</table>
</div>
</HTML>